<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NUnit" version="2.6.3" targetFramework="net40" />
  <package id="RhinoMocks" version="3.6.1" targetFramework="net40" />
  <package id="SevenDigital.Api.Schema.Premium" version="1.0.2" targetFramework="net40" />
  <package id="SevenDigital.Api.Wrapper" version="2.0.15" targetFramework="net40" />
  <package id="SevenDigital.Api.Wrapper.Premium" version="1.0.2" targetFramework="net40" />
</packages>